body {
    margin: 0px;
    padding: 0px;
    color: #ff0000;
    font-family: "Orbitron", 'Franklin Gothic';
    font-style: italic;
    font-size: 20px;
    background-color: #FFFF00;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100 %;
    background-color: #7ca2e4;
    height: 100px;
     overflow: hidden;
}

#background-video {
    opacity: 0.9;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.audioalign {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 78.85%;
    top: 14px;
}

.nav-wrapper {
    display: flex;
    position: fixed;
    top: 20px;
    justify-content: space-between;
    width: 600px;
}

.right-side {
    position: sticky;
    padding: 0px;
    margin: 0px;
    left: 45%;
    top: 82px;
    text-align: center;
    width: 200px;
    font-family: "Berkshire Swash";
}

.nav-link-wrapper {
    display: flex;
    border-bottom: 14px solid transparent;
    transition: border-bottom 1s;
    height: 11px;
    width:150px;
}
.nav-link-wrapper a {
        text-decoration: none;
        color: #FF0000;
        letter-spacing: 10px;
        font-size: 0.9em;
        transition: color 2s;
    }
.nav-link-wrapper:hover {
        border-bottom: 1px solid #302825;
}
.nav-link-wrapper a:hover {
        text-decoration: underline;
        color:#302825
}

.logo-wrapper {
    position: relative;
    left: 0px;
    top:220px;
    margin: 0px;  
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: solid 17px red;
}

.DatesWrapper {
    left: 200px;
    font-family: 'Franklin Gothic';
    margin: 200px;
    font-size: 100px;
}
.home {

    font-size: 25px;
    display: flex;
    border-bottom: 14px solid transparent;
    transition: border bottom 1s;
    text-align: right;
    width: 90%;
    height: 11px;
}
    .home a {
        text-decoration: none;
        color: #ff0000;
        letter-spacing: 10px;
        font-size: 0.9em;
        transition: color 2s;
    }
    .home:hover {
        border-bottom: 1px solid #FFFFFF;
    }
    .home a:hover {
        text-decoration: underline;
        color: #FFFFFF;
    }
.img-text-wrapper {
    align itmes: left;
}
.comments1 {
    color: red;
    font-family: "Orbitron";
    position: relative;
    font-size: 29px;
    top: -390px;
    left: 40;
    z-index: 6;
}

.comments2 {
    color: red;
    font-family: "Orbitron";
    position: relative;
    font-size: 29px;
    top: 70px;
    left: 1150;
    z-index: 6;
}

.contact1 {
    color: red;
    font-family: "Franklin Gothic";
    position: relative;
    font-size: 39px;
    margin: 10px;
    top: 210px;
    left: 100;
    z-index: 6;
}

.contact2 {
    color: red;
    font-family: "Franklin Gothic";
    font-style: italic;
    position: relative;
    font-size: 39px;
    margin:40px;
    top: 20px;
    left: 900;
    z-index: 6;
}
.impressumlink {
    font-family: Playbill;
    position: relative;
    top: 60px;
    left: 10px;
    text-decoration: none;
    color: #FF0000;
    letter-spacing: 10px;
    font-size: 24px;
    transition: color 2s;
    padding: 20px;
    text-decoration: none;
}

.impressum {
    padding:47px;
    font-family: Playbill;
    font-size: 70;
    colour: red;

}
