body
{ margin: 10px;
 outline: solid 12px red
}

header {
    font-family: "Berkshire Swash";
    top: 100px;
    font-size: 4em;
    color: #4b006e;
}

.venuepic {
    display: flex;
    justify-content: center;
    margin: 100px;
    width: 80vw;

}
#Kikisol {
    poisition: absolute;
    object-fit: cover;
    border: solid 10px red;
      max-width: 100%;
}
.lineupheader { font-family: "Berkshire Swash";
                display: flex;
                color: red;

}

.lineup {
    font-family:"orbitron", 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px;
}

.lineup-wrapper { 
    display: flex;
    flex-direction: column;

}
.lineup-wrapper a {
    text-decoration: none;
    color: red;
}

.lineup-wrapper a:hover {
    text-decoration: none;
    font-style: italic;
    color: #4b006e;
}
.times-wrapper {
    display: flex;
    flex-direction: column;
    color: red;

}

.adress_venue { 
    color: #4b006e;
    padding: 50px;
    position: relative;
    max-width: 85vw;
    top: -4vh;
    left: 4vw;
    difont-size:1em;

}
